.cabezera{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.75rem;
    background-color: #000;
    height: 100px;
}
.texto_cabezara div:hover {
    cursor: pointer;
    background-color: #535350; /* Cambia el color de fondo al pasar el cursor */
    color: #ffffff; /* Cambia el color del texto al pasar el cursor */
}
.logo{
    width: 300px;
    height: auto;
}
.texto_cabezara {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2.75rem;
    color: #ffffff;
    font-size: 20px;
    text-transform: capitalize;
}
  