<footer class="bg-dark-custom text-center text-white">
    <!-- Grid container -->
    <div class="container p-2">
      
        <!-- Section: Links -->
      <section class="canales_atencion">
        <!--Grid row-->
        <div class="row">
          <!--Grid column-->
        
          <div class="col-lg-4 col-md-6 mb-4 mb-md-0 info_correo">
            <h5 class="text-uppercase fw-bold">CORREO CORPORATIVO</h5>
            <div class="container-fluid correo">
              <i class="fa-solid fa-envelope fa-lg" style="color: #c4daff;"></i>
              <span class="px-1">
                centrodeatencion@continental.edu.pe
              </span>
            </div>
          </div>
          <!--Grid column-->
  
          <!--Grid column-->
          <div class="col-lg-4 col-md-6 mb-4 mb-md-0 info_campus">
            <h5 class="text-uppercase fw-bold">Nuestro Campus</h5>
          
             <div class="container-fluid">
                <div class="ubicacion">
                  <i class="fa-solid fa-location-dot fa-lg px-1" style="color: #c4daff;"></i>
                  <span class="px-1">
                  <span class="fw-bold">HUANCAYO :</span>
                  Av. San Carlos 1980 Urb. San Antonio-Huancayo
                  </span>
                </div>
                <div class="telefono">
                  <i class="fa-solid fa-phone fa-lg px-1" style="color: #c4daff;"></i>
                  <span class=" text-uppercase">
                  <span class="fw-bold">Teléfono : </span><u>064-481430</u>
                  </span>
                </div>
             </div>
       
           
          </div>
          <!--Grid column-->
  
          <!--Grid column-->
          <div class="col-lg-4 col-md-6 mb-4 mb-md-0 info_redes ">
            <h5 class="text-uppercase fw-bold">Nuestras Redes</h5>
            <a class="btn  btn-floating m-1"  target="_blank" href="https://www.facebook.com/ucontinental" role="button"
            ><i class="fa-brands fa-facebook fa-fade fa-xl" style="color: #c4daff;"></i></a>
    
          <!-- Twitter -->
          <a class="btn btn-floating m-1" target="_blank" href="#!" role="button"
            ><i class="fa-brands fa-twitter fa-fade fa-xl" style="color: #c4daff;"></i></a>
    
          <!-- Instagram -->
          <a class="btn  btn-floating m-1"  target="_blank" href="https://www.instagram.com/ucontinental/?fbclid=IwAR016ZG-Jx0O10HPObmOkUoK4-wXqvpYqxFXnaXPPt8atHPzxy64Zz32jOQ" role="button"
            ><i class="fa-brands fa-instagram fa-fade fa-xl" style="color: #c4daff;"></i></a>    
             
           
          </div>
          <!--Grid column-->
  
          
        </div>
        <!--Grid row-->
      </section>
     
    </div>
    <!-- Grid container -->
  
    
  </footer>